{% extends 'app/base.html' %}
{% load static %}
{% block title %}Fashion{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
      <div class="col-sm-12">
          <a href="{% url 'mobile' %}" class="list-group-item list-group-item-action" aria-current="true">All Mobiles</a>
          <a href="{% url 'mobiledata' 'Redmi' %}" class="list-group-item list-group-item-action" aria-current="true">Redmi</a>
          <a href="{% url 'mobiledata' 'Samsung' %}" class="list-group-item list-group-item-action" aria-current="true">Samsung</a>
          <a href="{% url 'mobiledata' 'below' %}" class="list-group-item list-group-item-action" aria-current="true">Below Rs.10,000</a>
          <a href="{% url 'mobiledata' 'above' %}" class="list-group-item list-group-item-action" aria-current="true">Above Rs.10,000</a>   
        </div>
   <!-- Side Bar for Mobile filter -->
  </div>
  <div class="col-sm-8 offset-sm-1">
      <div class="row">
          {% for product in mobiles %}
          <div class="col-sm-6 text-center mb-4">
              <a href="{% url 'product-detail' product.id %}" class="btn">
                  <div class="item">
                      <img src="{{ product.product_image.url }}" alt="" height="300" srcset="">
                      <div class="fw-bold"> {{ product.title }} </div>
                      <div class="fw-bold">{{ product.discount_price }}
                          <small class="fw-light text-decoration-line-through" > Rs. {{ product.selling_price }} </small>
                      </div>
                  </div>
              </a>
          </div>
          {% endfor %}
      </div>
   <!-- Mobile Product List -->
  </div>
 </div>
</div>
{% endblock main-content %}