{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner_slider %}
<!--Banner Slider-->
 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'app/images/banner/b1.jpg' %}" class="d-block w-100" alt="..."> 
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/b2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/b3.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/b4.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<!-- End Banner Slider -->
{% endblock banner_slider %}

{% block livesale %}
<!-- Live Sale Section -->
<div class="container">
  <div class="row bg-danger text-center p-5 text-white border-bottom shadow">
    <h1>SALE IS LIVE NOW</h1>
    <span>5% Instant Discount on Axis Bank Credit and Debit Card</span>
    <small class="fw-lighter">Term and Condition Applied (For details visit Bank's official Website)</small>
  </div>
</div> 
<!-- End Live Sale Section -->
{% endblock livesale %}



{% block main-content %}

<!-- 1st Product Slider -->
<div class="m-3">
 <h2>ShoppingX Deals of The Topwear</h2>
 <!-- Slider 1 -->
 <div class="owl-carousel" id="slider1">
  {% for t in topwear %}
  <a href="{% url 'product-detail' t.pk %}" class="btn"><div class="item"><img src="{{ t.product_image.url }}" alt="" height="200px"><span class="fw-bold">{{ t.title|capfirst }}</span><br><span class="fs-5">Rs. {{ t.selling_price }}</span></div></a>
  {% endfor %}
 </div>
</div>
<!-- End 1st Product Slider -->


<!-- Payment Info Section -->
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
     <img src="{% static 'app/images/payavail/cc.jpg' %}" alt="" srcset="" class="img-fluid">
     </div>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
      <img src="{% static 'app/images/payavail/upi.jpg' %}" alt="" srcset="" class="img-fluid">
     </div>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
      <img src="{% static 'app/images/payavail/nb.jpg' %}" alt="" srcset="" class="img-fluid">
     </div>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
      <img src="{% static 'app/images/payavail/bj.jpg' %}" alt="" srcset="" class="img-fluid">
     </div>
   </div>
  </div>
 </div>
</div>
<!-- End Payment Info Section -->


<!-- 2nd Product Slider -->
<div class="mx-3">
 <h2>ShoppingX Deals of The Bottom Wear</h2>
 <!-- Slider 2 -->
 <div class="owl-carousel" id="slider2">
  {% for t in btwear %}
  <a href="{% url 'product-detail' t.pk %}" class="btn"><div class="item"><img src="{{ t.product_image.url }}" alt="" height="200px"><span class="fw-bold">{{ t.title|capfirst }}</span><br><span class="fs-5">Rs. {{ t.selling_price }}</span></div></a>
  {% endfor %}
 </div>
</div>
<!-- End 2nd Product Slider -->
<br/>
<br/>

<!-- 3nd Product Slider -->
<div class="mx-3">
 <h2>ShoppingX Deals of The Mobiles</h2>
 <!-- Slider 2 -->
 <div class="owl-carousel" id="slider3">
  {% for t in mobile %}
  <a href="{% url 'product-detail' t.pk %}" class="btn"><div class="item"><img src="{{ t.product_image.url }}" alt="" height="200px"><span class="fw-bold">{{ t.title|capfirst }}</span><br><span class="fs-5">Rs. {{ t.selling_price }}</span></div></a>
  {% endfor %} </div>
</div>
</div>
<!-- End 3nd Product Slider -->



{% endblock main-content %}

